body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
}

.row{
    display: flex;
}
.calc-input{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 320px;
    height: 70px;
    background: lightgray;
    font-size: 30px;
}
.button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 2px solid black;
}